@import url("reset.css");

:root {
  --background-color: rgb(242, 247, 254);
  --text-color: #063251;
  --white-color: #ffffff;

  --btn-blue-color: rgba(73, 166, 233, 0.6);
  --hovered-btn-blue-color: rgb(73, 166, 233);
  --btn-green-color: rgba(67, 200, 71, 0.8);
  --hovered-btn-green-color: rgba(67, 200, 71, 1);
  --btn-red-color: rgba(200, 28, 28, 0.7);
  --hovered-btn-red-color: rgba(200, 28, 28, 1);

  --state-background-red-color: rgba(213, 0, 0, 0.1);
  --state-text-red-color: rgba(213, 0, 0, 0.7);
  --state-background-green-color: rgba(0, 213, 0, 0.1);
  --state-text-green-color: rgba(0, 213, 0, 1);

  --focused-input-color: #e2f1f8;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  margin-top: 150px;
  padding: 32px;
  width: 560px;
  height: fit-content;
  background-color: var(--white-color);
}

.main__state-bar {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
}

.main__state {
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;

  font-size: 13px;
  letter-spacing: 5px;
  text-align: center;
}

.main__state--red {
  background-color: var(--state-background-red-color);
  color: var(--state-text-red-color);
}

.main__state--green {
  background-color: var(--state-background-green-color);
  color: var(--state-text-green-color);
}

.main__header {
  width: 100%;
  margin-bottom: 40px;
}

.main__title {
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.main__header-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__header-input {
  width: 80%;
  font-size: 18px;
  padding: 5px 20px;

  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  /* background-color: var(--background-color); */
  background-color: rgb(242, 247, 254);
  opacity: 0.7;

  transition: background-color 0.25s ease-in-out;
}

.main__header-input:focus {
  background-color: var(--focused-input-color);
}

.main__header-btn {
  width: 20%;
  padding: 7px;

  font-size: 15px;
  letter-spacing: 2px;

  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--btn-blue-color);

  transition: all 0.25s ease-in-out;
}

.main__header-btn:hover {
  background-color: var(--hovered-btn-blue-color);
  color: var(--background-color);
}

.main__item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  transition: background-color 0.3s ease-in-out;
}

.main__item:hover {
  background-color: var(--background-color);
}

.main__item-name {
  width: 100%;
  font-size: 18px;
  padding: 7px 20px;

  outline: none;
  border: none;
  letter-spacing: 2px;
}

.main__modify-btn,
.main__delete-btn {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  transition: all 0.25s ease-in-out;
}

.main__modify-btn {
  right: 50px;
  color: var(--btn-green-color);
}

.main__modify-btn:hover {
  color: var(--hovered-btn-green-color);
  cursor: pointer;
}

.main__delete-btn {
  right: 20px;
  color: var(--btn-red-color);
}

.main__delete-btn:hover {
  color: var(--hovered-btn-red-color);
  cursor: pointer;
}

.main__modify-btn i,
.main__delete-btn i {
  width: 100%;
  height: 100%;
  padding: 3px 3px;
}

.main__delete-all-btn {
  margin-top: 30px;

  font-size: 17px;
  letter-spacing: 1px;
  color: var(--btn-red-color);

  border: none;
  background: none;
  transition: all 0.25s ease-in-out;
}

.main__delete-all-btn:hover {
  color: var(--hovered-btn-red-color);
  cursor: pointer;
}

.hidden {
  display: none;
}
